.css-x9xwf1 .chakra-link .css-hu4u89 {
  text-transform: capitalize;
}

main {
  width: 100vw;
  min-height: 50vh;
  display: block;
}

.css-181xgsn {
  padding-left: 0 !important;
}
/* 
@media (min-width: 230px) and (max-width: 799px) {
  .css-gmuwbf {
  }
}

@media (min-width: 800px) and (max-width: 1239px) {
  .css-gmuwbf {
  }
} */
